profiles {
    bbglab {
        includeConfig 'bbglab_ukbio.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}
