profiles {
    bbglab {
        includeConfig 'bbglab_ukbio.conf'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

process {

  // this is the default task.shell:
  shell = [ '/bin/bash', '-ue' ]

  errorStrategy = 'ignore'
}
